{% load static %}
<header id="navbar" class="bg-green-950 fixed w-full top-0 left-0 z-50">
    <nav class="container flex items-center justify-between h-16 sm:h-20">
        <div class="font-Lobster sm:text-2xl">Endeavor</div>
        <div id="nav-menu"
            class="absolute top-0 left-[-100%] min-h[80vh] w-full bg-gray-950/8 backdrop-blur-sm flex items-center justify-center duration-300 overflow-hidden lg:static lg:min-h-fit lg:w-auto">
            <ul class="flex flex-col items-center gap-8 lg:flex-row">
                <li><a href="{% url 'home' %}" class="nav-link">Home</a></li>
                <!-- <li><a href="#about" class="nav-link">About</a></li> -->
                <li><a href="#popular" class="nav-link">Popular</a></li>
                <li><a href="#review" class="nav-link">Review</a></li>
                <li><a href="#cart" class="nav-link">Cart</a></li>
            </ul>
            <div class="absolute bottom-0 -right-10 opacity-90 lg:hidden">
                <img src="{% static 'img/leaf-1.png' %}" alt="leaf_image" class="w-32">
            </div>
            <div class="absolute -top-5 -left-5 rotate-90 opacity-90 lg:hidden">
                <img src="{% static 'img/leaf-2.png' %}" alt="leaf_image" class="w-32">
            </div>
            <div class="text-xl text-white sm:text-3xl cursor-pointer z-50 lg:hidden">
                <i class="fi fi-rr-line-width" id="hamburger"></i>
            </div>
        </div>
    </nav>
</header>