{% load static %}
<header id="navbar" class="bg-green-950 fixed w-full top-0 left-0 z-50">
    <nav class="container flex items-center justify-between h-28 sm:h-20">
        <div class="font-Lobster sm:text-2xl">Endeavor</div>
        <div id="nav-menu"
            class="absolute top-0 left-[-100%] min-h-[80vh] w-full bg-green-950/80 backdrop-blur-sm flex items-center justify-center duration-300 lg:static lg:min-h-fit lg:w-auto lg:bg-transparent">
            <ul class="flex flex-col items-center gap-8 lg:flex-row">
                <li><a href="{% url 'home' %}" class="nav-link">Home</a></li>
                <li><a href="{% url 'about' %}" class="nav-link">About</a></li>
                <li><a href="{% url 'shop' %}" class="nav-link">Shop</a></li>
                <li>
                    <a href="{% url 'cart' %}" class="nav-link relative">
                        <i class="fi fi-rr-shopping-cart text-2xl sm:text-3xl"></i>
                        <span id="cart-badge" class="absolute -top-4 -right-2 transform translate-x-2 -translate-y-2 bg-red-500 text-white rounded-full w-5 h-5 text-xs sm:text-sm flex items-center justify-center">0</span>
                    </a>
                </li>
                {% if user.is_authenticated %}
                <li class="relative flex items-center">
                    <img src="{{ user.profile.get_profile_image }}" alt="Profile" class="w-8 h-8 rounded-full cursor-pointer" id="profile-image" />
                    <div id="profile-dropdown" class="absolute -right-10 md:right-0 top-12 md:top-10 mt-2 w-48 border border-gray-300 rounded-lg p-4 shadow-md bg-green-950 bg-opacity-70 backdrop-blur-lg hidden">
                        <ul class="py-2">
                            <li><a href="{% url 'my_orders' %}" class="nav-link">My Orders</a></li>
                            <li><a href="#" class="nav-link">Profile</a></li>
                            <li><a href="{% url 'logout' %}" class="nav-link">Logout</a></li>
                        </ul>
                    </div>
                </li>
                {% else %}
                <li><a href="{% url 'login' %}" class="nav-link btn hover:text-green-500">Login</a></li>
                {% endif %}
            </ul>
            <div class="absolute -top-5 -left-5 rotate-90 opacity-90 lg:hidden">
                <img src="{% static 'img/leaf-2.png' %}" alt="leaf_image" class="w-32">
            </div>
        </div>
        <div class="text-xl text-white sm:text-3xl cursor-pointer z-50 lg:hidden">
            <i class="fi fi-rr-line-width" id="hamburger"></i>
        </div>
    </nav>
</header>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const hamburger = document.getElementById('hamburger');
        const navMenu = document.getElementById('nav-menu');
        const profileImage = document.getElementById('profile-image');
        const dropdown = document.getElementById('profile-dropdown');

        // Add event listener to the hamburger icon
        hamburger.addEventListener('click', () => {
            if (navMenu.classList.contains('left-[-100%]')) {
                navMenu.classList.remove('left-[-100%]');
                navMenu.classList.add('left-0');
            } else {
                navMenu.classList.remove('left-0');
                navMenu.classList.add('left-[-100%]');
            }
        });

        // Show dropdown on hover
        profileImage.addEventListener('mouseenter', () => {
            dropdown.classList.remove('hidden');
        });

        profileImage.addEventListener('click', () => {
            dropdown.classList.toggle('hidden');
        });

        // Close the dropdown if clicking outside
        window.onclick = function(event) {
            if (!event.target.closest('.relative')) {
                dropdown.classList.add('hidden');
            }
        };
    });
</script>
