{% load static %}
<section class="relative">

    <div class="container mx-auto px-4">
        <div class="flex flex-col items-center gap-5 lg:flex-row">
            <!-- Content Section -->
            <div class="w-full space-y-5 lg:w-1/2">
                <h1 class="text-center lg:text-left text-lg sm:text-xl md:text-2xl font-bold">
                    <span class="text-yellow-500">Plants</span> make a <br>
                    positive <span class="text-yellow-500">impact</span> on <br>
                    your environment
                </h1>
                <p class="text-slate-300 font-Lobster text-center lg:text-left text-sm sm:text-base">
                    Adding plants to your space helps improve air quality, boosts mood, and creates a calming atmosphere. They are a simple way to reconnect with nature and enhance your surroundings.
                </p>
                <div class="flex flex-col gap-2 sm:flex-row md:gap-4 lg:pt-5 xl:pt-10 justify-center lg:justify-start">
                    <button class="btn"><a href="{% url 'shop' %}" class="flex items-center gap-2">
                        <span>Shop Now</span>
                        <i class="ri-leaf-line"></i>
                    </a></i></button>
                    <button class="btn btn_outline">
                        <a href="{% url 'about' %}" class="flex items-center gap-2">
                            <span>Know More</span>
                            <i class="ri-leaf-line"></i>
                        </a>
                    </button>
                </div>
                <p class="text-xs font-Lobster text-slate-300 text-center lg:text-left">You will get 30-days free trial.</p>
                <div class="flex items-center gap-5 text-lg lg:pt-10 justify-center lg:justify-start">
                    <a href="https://www.facebook.com/mehedi.nayem.56" target="_blank">
                        <i class="fi fi-brands-facebook text-slate-300 hover:text-yellow-500 duration-500 cursor-pointer text-base"></i>
                    </a>
                    <a href="https://www.facebook.com/mehedi.nayem.56" target="_blank">
                        <i class="fi fi-brands-instagram text-slate-300 hover:text-yellow-500 duration-500 cursor-pointer text-base"></i>
                    </a>
                </div>
            </div>

            <!-- Image Section -->
            <div class="w-full relative lg:w-1/2">
                <img src="{% static 'img/home.png' %}" alt="Home Image" class="w-full h-auto">
                <!-- Decorative Icons -->
                <div class="absolute -top-6 right-0 opacity-30 animate-movingY sm:-top-8 md:-top-10 lg:-top-12 xl:top-5">
                    <i class="fi fi-rr-leaf-maple text-4xl sm:text-5xl md:text-6xl text-yellow-500"></i>
                </div>
                <div class="absolute bottom-0 left-0 opacity-30 xl:bottom-11 animate-rotating">
                    <i class="fi fi-rr-three-leaf-clover text-4xl sm:text-5xl md:text-6xl text-yellow-500"></i>
                </div>
                <div class="absolute -top-6 left-5 opacity-30 lg:block animate-scalingUp">
                    <i class="fi fi-rr-plant-growth text-4xl sm:text-5xl md:text-6xl text-yellow-500"></i>
                </div>
            </div>
        </div>
    </div>
</section>
