{% load static %}
<div class="bg-white text-green-900 py-20">
    <div class="container w-full grid grid-cols-1 gap-8 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4">

        <div class="border border-green-900 p-5 cursor-pointer rounded-md hover:shadow-2xl hover:-translate-y-1 duration-300 space-y-5">
            <div class="flex items-end gap-5">
                <i class="fi fi-rr-truck-side text-3xl md:text-4xl xl:text-5xl"></i>
                <p class="md:text-lg font-bold">
                    Fast & Reliable <br>
                    Delivery
                </p>
            </div>
            <p class="font-Lobster">
                Get your plants delivered quickly and in perfect condition, ready to thrive in your space.
            </p>
        </div>

        <div class="border border-green-900 p-5 cursor-pointer rounded-md hover:shadow-2xl hover:-translate-y-1 duration-300 space-y-5">
            <div class="flex items-end gap-5">
                <i class="fi fi-rr-user-headset text-3xl md:text-4xl xl:text-5xl"></i>
                <p class="md:text-lg font-bold">
                    Excellent <br>
                    Customer Support
                </p>
            </div>
            <p class="font-Lobster">
                We're here to help! Reach out to our friendly support team for any questions or concerns.
            </p>
        </div>

        <div class="border border-green-900 p-5 cursor-pointer rounded-md hover:shadow-2xl hover:-translate-y-1 duration-300 space-y-5">
            <div class="flex items-end gap-5">
                <i class="fi fi-rr-plant-care text-3xl md:text-4xl xl:text-5xl"></i>
                <p class="md:text-lg font-bold">
                    Authentic <br>
                    Plants
                </p>
            </div>
            <p class="font-Lobster">
                Our plants are carefully selected to ensure they are healthy, vibrant, and ready to grow.
            </p>
        </div>

        <div class="border border-green-900 p-5 cursor-pointer rounded-md hover:shadow-2xl hover:-translate-y-1 duration-300 space-y-5">
            <div class="flex items-end gap-5">
                <i class="fi fi-rr-plant-seed-invest text-3xl md:text-4xl xl:text-5xl"></i>
                <p class="md:text-lg font-bold">
                    Affordable <br>
                    Prices
                </p>
            </div>
            <p class="font-Lobster">
                Enjoy a wide variety of plants without breaking the bank – quality plants at great prices.
            </p>
        </div>

    </div>
</div>
