<section class="relative overflow-hidden">
    <div class="absolute -top-8 -right-12 opacity-40">
        <img class="w-40 md:w-52 xl:w-64" src="{% static 'img/leaf-3.png' %}" alt="" srcset="">
    </div>
    <div class="flex flex-col items-center gap-3 text-center mb-10 md:mb-20">
        <h2 class="title">About Us</h2>
        <p class="max-w-2xl">Follow instruction for more</p>
    </div>
    <div class="container space-y-10">
       
        <div class="flex flex-col items-center lg:flex-row gap-5">
          
            <div class="w-full lg:w-1/2">
                <img class="w-full sm:w-2/3 lg:w-full xl:w-2/3 mx-auto" src="{% static 'img/plant-1.png' %}" alt="about_image">
            </div>
           
            <div class="w-full lg:w-1/2">
                <div class="space-y-5">
                    <h3>
                        Make your <span class="text-yellow-500">organic</span> <br>
                        garden
                    </h3>
                    <p class="text-slate-300 font-Lobster">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis ratione rem maxime veniam cum libero voluptas tempora aut saepe similique, eos corporis. Expedita culpa consequatur animi deleniti ullam adipisci iure sequi dolores modi aliquam laudantium, explicabo nobis quia id reprehenderit.
                    </p>
                </div>
            </div>
        </div>
       
        <div class="flex flex-col items-center lg:flex-row-reverse gap-5">
         
            <div class="w-full lg:w-1/2">
                <img class="w-full sm:w-2/3 lg:w-full xl:w-2/3 mx-auto" src="{% static 'img/plant-2.png' %}" alt="about_image">
            </div>
          
            <div class="w-full lg:w-1/2">
                <div class="space-y-5">
                    <h3>
                        Come with us <br><span class="text-yellow-500">grow up</span> your plant
                    </h3>
                    <p class="text-slate-300 font-Lobster">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis ratione rem maxime veniam cum libero voluptas tempora aut saepe similique, eos corporis. Expedita culpa consequatur animi deleniti ullam adipisci iure sequi dolores modi aliquam laudantium, explicabo nobis quia id reprehenderit.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
