{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>Django Tailwind</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% tailwind_css %}
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}">
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/2.6.0/uicons-regular-rounded/css/uicons-regular-rounded.css'>
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/2.6.0/uicons-brands/css/uicons-brands.css'>
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/2.6.0/uicons-solid-chubby/css/uicons-solid-chubby.css'>
</head>

<body class="">
    <!-- Header -->
    {% include "include/home/header.html" %}

    <!-- Main Section -->
    <main>

       {% include "include/home/home.html" %}

    </main>

    <script src="{% static 'js/navbar.js' %}"></script>
</body>

</html>
